<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<div style="width:100%; height:100%; background-color:#5F3936; margin:0; padding:0;">
  <div style="width:100%; height:43px; background-color:#5F3936; border-bottom:3px solid #DE9347;">
    <img src="http://www.expoholidays.com/Content/Images/logo.jpg" /> 
  </div>
  <div style="border:3px solid #DE9347; border-top:none; margin-bottom:-46px; background-color:white;">
	<table width="100%" height="100%">
	<tr>
		<td>
				<center>inserisci qui il contenuto</center>
		</td>
	</tr>
	</table>	 
  </div>
</div>
</body>
</html>