#structure-main-pic {
    border:3px solid #603934;
    float:left;
}

#badge p{
	margin:0;
}

#badge p span {
	padding:8px 3px 8px 3px;
}

#badge #badge-title {
	margin-left:5px;
	font-size:20px;
	text-transform:capitalize;
	font-weight:bold;
}

#badge #badge-details { 
	margin-top:5px;
	margin-left:5px;
}

#structure-description {
	border-left:1px dotted #603934;
	padding-left:10px;
}

#structure-description:first-letter{
	font-size:16px;
	font-weight:bold;
}

#gallery {
	margin-top:20px;
}

#gallery .gal-image {
	float:left;
	border:5px solid #E2DED3;
	margin:15px;
}

#gallery a.gal-image:link, #gallery a.gal-image:visited{
	border:3px solid #E2DED3;
}

#gallery a.gal-image:hover {
    border:3px solid #DE9347;
}