#navigation a.media:link, #navigation a.media:visited, #navigation a.media:hover
{
    height: 50px;
    width: 50px;
    padding: 2px;
    border: solid 1px #CCCCCC;
    display: block;
    float: left;
    margin: 2px;
}

#navigation a.activeMedia:link, #navigation a.activeMedia:visited, #navigation a.activeMedia:hover
{
    border: solid 1px red !important;
}

#navigation a img
{
    height: 50px;
    width: 50px;
    border: 0px;
}

#navigation
{
    margin-top: 5px;
}

#navigation a.next:link, #navigation a.next:visited
{
    height: 50px;
    width: 50px;
    padding: 2px;
    display: block;
    background-image: url("../Images/nextPage.png");
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    margin: 3px;
}

#navigation a.next:hover
{
    height: 50px;
    width: 50px;
    padding: 2px;
    display: block;
    background-image: url("../Images/nextPage.png");
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    margin: 3px;
}

#navigation a.previous:link, #navigation a.previous:visited
{
    height: 50px;
    width: 50px;
    padding: 2px;
    display: block;
    background-image: url("../Images/previousPage.png");
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    margin: 3px;
}

#navigation a.previous:hover
{
    height: 50px;
    width: 50px;
    padding: 2px;
    display: block;
    background-image: url("../Images/previousPage.png");
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    margin: 3px;
}

.comment .author
{
    border-top: dotted 1px gray;
    text-align: right;
    font-weight: bold;
}

.title
{
    font-size: 14px;
    font-weight: bold;
    color: #FF6600;
}

.body
{
    padding: 10px;
    background-color: #F3F3F3;
}
