.actions
{
    margin-top:20px;
    height: 25px;
    padding: 5px;
}

.title
{
    font-size: 20px;
}

#mapMediasContainer
{
    position: absolute;
    top: 242px;
    bottom: 0px;
    left: 65%;
    right: 0;
}

#mapMediasContainer a.media:link, #mapMediasContainer a.media:visited
{
    position: absolute;
    display: block;
    height: 70px;
    width: 70px;
}

#mapMediasContainer a.media:hover
{
    position: absolute;
    float: left;
    display: block;
    height: 70px;
    width: 70px;
    opacity: 0.5;
}

#mapMediasContainer img
{
    height: 70px;
    width: 70px;
    border: 0px;
}

.whiteSpace
{
    height: 70px;
    width: 70px;
    background-image: url("../Images/whiteSpace.png");
}

#searchMapContainer 
{
    position:relative;
}

#searchMapContainer input#locationKeyword 
{
    width:100%; 
    height:21px; 
    margin-bottom:6px; 
    margin-right:30px;
    border:none; 
    border-top:1px solid #e1e1e1; 
    border-bottom:1px solid #e1e1e1; 
    color:#cccccc;
    font-style:italic;
}

#searchMapContainer input#locationButton 
{
    position:absolute;
    top:0;
    right:0;    
}

#searchMapContainer img#searchMapLeftSide 
{
    position:absolute;
    top:0;
    left:0;    
}

#titleBar 
{
    text-align:right;
    margin-bottom:3px;   
}

#titleBar #address 
{
    color:#db7d18;
    font-style:italic;
    margin-left:5px;
}

#mediaContainer 
{ 
    border:1px solid #d9d8d8;    
} 

#mediaContainer #imageContainer img 
{
    border-bottom:1px solid #d9d8d8;    
}

#mediaContainer #actionContainer 
{
    position:relative;
    height:26px;
}

#actionContainer img#borderBottomLeft 
{
    position:absolute;
    bottom:-1px;
    left:-1px;
}

#actionContainer img#borderBottomRight 
{
    position:absolute;
    bottom:-1px;
    right:-1px;    
}

#body {margin-top:20px;}

#detailsContainer {position:relative; width:100%; height:65px; border:1px solid #d9d8d8; background:url(../Images/gradientGrayWhiteVertical.png) repeat-x bottom; } 
#detailsContainer img#borderGrayTopLeft {position:absolute; top:-1px; left:-1px;}
#detailsContainer img#borderGrayTopRight {position:absolute; top:-1px; right:-1px;}
#detailsContainer img#borderGrayBottomLeft {position:absolute; bottom:-1px; left:-1px;}
#detailsContainer img#borderGrayBottomRight {position:absolute; bottom:-1px; right:-1px;}