.actions
{
    height: 25px;
    border-bottom: solid 2px #333333;
    padding: 5px;
}

.title
{
    font-size: 20px;
}

#mapMediasContainer
{
    position: absolute;
    top: 242px;
    bottom: 0px;
    left: 65%;
    right: 0;
}

#mapMediasContainer a.media:link, #mapMediasContainer a.media:visited
{
    position: absolute;
    display: block;
    height: 70px;
    width: 70px;
}

#mapMediasContainer a.media:hover
{
    position: absolute;
    float: left;
    display: block;
    height: 70px;
    width: 70px;
    opacity: 0.5;
}

#mapMediasContainer img
{
    height: 70px;
    width: 70px;
    border: 0px;
}

.whiteSpace
{
    height: 70px;
    width: 70px;
    background-image: url("../Images/whiteSpace.png");
}
