input.error, select.error 
{
    border: solid 1px #FE5826 !important;
}

label.error 
{
    color: #FE5826;
}

.ajaxLoadingHidden
{
    height: 16px;
    width: 16px;
    background-image: url("../Images/ajaxLoading.gif");
    display: none;
}

.ajaxLoading
{
    height: 16px;
    width: 16px;
    background-image: url("../Images/ajaxLoading.gif");
}

.hidden 
{
    display: none;
}

.column1 
{
    width: 1%;
}

.albumControl .picturesList
{
    border: solid 1px gray;
    padding: 5px;
    margin-left: 150px;
    border: solid 1px black;
}

.albumControl .albumsList
{
    width: 150px;
    float: left;
}

.albumControl a.album:link, .albumControl a.album:visited
{
    padding: 3px;
    border: solid 1px black;
    display: block;
    margin-bottom: 3px;
    margin-right: 3px;
}

.albumControl a.album:hover
{
    padding: 3px;
    border: solid 1px red;
    display: block;
    margin-bottom: 3px;
    margin-right: 3px;
}

.albumControl a.newAlbum:link, .albumControl a.newAlbum:visited
{
    padding: 3px;
    border: solid 1px black;
    display: block;
    margin-bottom: 3px;
    margin-right: 3px;
    background-image: url("../images/add.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
}

.albumControl a.newAlbum:hover
{
    padding: 3px;
    border: solid 1px red;
    display: block;
    margin-bottom: 3px;
    margin-right: 3px;
    background-image: url("../images/add.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 20px;
}

.albumControl a.activeAlbum:link, .albumControl a.activeAlbum:visited
{
    position: relative;
    left: 1px;
    background-color: white;
    padding: 3px;
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    margin-bottom: 3px;
    font-weight: bold;
    display: block;
}

.albumControl a.picture:link, .albumControl a.picture:visited
{
    position: relative;
    left: 1px;
    background-color: white;
    padding: 3px;
    margin: 5px;
    border: solid 1px black;
    float: left;
}

.albumControl a.picture:hover
{
    padding: 3px;
    margin: 5px;
    border: solid 1px red;
    float: left;
}

.albumControl .newPicture
{
    padding: 3px;
    margin: 5px;
    border: solid 1px Green;
    float: left;
    cursor: pointer;
}

.albumControl .newPicture img 
{
    height: 100px;
    width: 100px;
    border: 0px;
}

.albumControl .picture img 
{
    height: 100px;
    width: 100px;
    border: 0px;
}

.albumControl .pictureEditor 
{
    height: 100px;
    width: 100px;
    background-color: #000000;
    float: left;
    position:absolute;
}

.albumControl .pictureEditor a.delete:link, .albumControl .pictureEditor a.delete:visited, .albumControl .pictureEditor a.delete:hover
{
    height: 16px;
    width: 16px;
    margin: 2px;
    display: block;
    background-image: url("../images/delete.png");
    position: absolute;
    right: 0px;
    top: 0px;
}

.albumControl .pictureEditor a.edit:link, .albumControl .pictureEditor a.edit:visited, .albumControl .pictureEditor a.edit:hover
{
    height: 16px;
    width: 16px;
    margin: 2px;
    display: block;
    background-image: url("../images/edit.png");
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.albumControl .pictureEditor a.profile:link, .albumControl .pictureEditor a.profile:visited, .albumControl .pictureEditor a.profile:hover
{
    height: 16px;
    width: 16px;
    margin: 2px;
    display: block;
    background-image: url("../images/profile.png");
    position: absolute;
    left: 0px;
    top: 0px;
}

.albumControl .pictureEditor img 
{
    border: 0px;
}

.albumControl .albumTextBox 
{
    border: 0px;
    padding: 0px;
    width: 50px;
}

/* BOX */

.actionbox 
{
    padding: 5px;
    -moz-box-shadow: 0px 0px 50px #555555;
    -webkit-box-shadow: 0px 0px 50px #555555;
    box-shadow: 0px 0px 50px #555555;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
 
    background-color: #C7D7FC;
}

.actionbox .buttonsbar 
{
    text-align: right;
    position: relative;
    bottom: 0px;
}

.actionbox .buttonsbar a:link, .actionbox .buttonsbar a:visited
{
    margin-left: 3px;
    padding: 2px 5px 2px 5px;
    background-color: #E9E9E9;
    border: solid 1px #9F9F9F;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: Black;
    text-decoration: none;
}

.actionbox .buttonsbar a:hover
{
    margin-left: 3px;
    padding: 2px 5px 2px 5px;
    color: White;
    background-color: #515151;
    border: solid 1px #2C2C2C;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
}

/*END OF BOX*/

.noborder 
{
    border: 0px;
}

.fakeInput 
{
    border: solid 1px black;
    padding: 3px;
    height: 22px;
    background-color: White;
}

.fakeInput td 
{
    vertical-align: middle;
}

.fakeInput input[type=text] 
{
    border: 0px;
    width: 222px;
    font-size: 14px;
    margin: 0px;
    width: 100%;
}

.fakeInput a:link, .fakeInput a:hover, .fakeInput a:visited
{
}
